.dialog
  position absolute
  //border-radius 5px
  //border 2px solid
  left 300px
  top 300px
  z-index 10
  //width 300px
  //margin 10px
  //background-color #fff
  //padding 1px
  h1
    background-color #ddd
    border 1px solid
    font-size 2em
    padding 4px
    border-radius 5px
    cursor move
    .close-button
      cursor pointer
      background-image url(/images/button_cancel.png)
      height 1em
      width 1em
      float right
      background-size contain
  dl.skills
    font-size 1.2em
    padding 7px
    dt
      display inline-block
    dd
      text-align right
      font-weight bold
      float right
