html,body{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
	background-color:#FFF; 
	font-family:Tahoma, Helvetica, sans-serif; 
	font-size:12px; 
}

#wrapper{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

	overflow:hidden;
	margin:0;
        position: absolute;
        z-index: 5;
}
