<div id="ability-list">
        <div class="ability-list-bg">
                <div class="left-block">
                        <div class="center">1
                        </div>
                        <div class="category-name-2">2
                        </div>
                        <div class="category-name-3">3
                        </div>
                        <div class="category-name-4">4
                        </div>
                        <div class="category-name-5">5
                        </div>
                        <div class="category-name-6">6
                        </div>
                        <div class="category-name-7">7
                        </div>
                        <div class="category-name-8">8
                        </div>
                        <div class="category-name-9">9
                        </div>
                        <div class="category-name-10">10
                        </div>
                        <div class="category-name-11">11
                        </div>
                        <div class="category-name-12">13
                        </div>
                        <div class="category-name-13">13
                        </div>
                </div>
                <div class="right-block">
                        <div class="category-title">
                        </div>
                </div>
                <button class="close">[X]</button>
        </div>
</div>
