<!--
<h1>
  {{name}}
  <span class="close-button button"></span>
</h1>
<dl class="skills">
{{#skills}}
  <dt>{{name}}</dt>
  <dd>{{value}}</dd>
{{/skills}}
</dl>
-->
<!-- Юзер понель UP -->
<nav class="up-container">
  <a class="up-k1" href="URL" name="11">
    <ul>
    {{#skills.first}}
      {{name}}: {{value}}
    {{/skills.first}}
    </ul>
  </a>
  <div class="up-k2"></div>
  <div class="up-k3"></div>
  <div class="up-k4"></div>
  <div class="up-k5"></div>
  <div class="up-k6"></div>
  <div class="up-k7"></div>
  <div class="up-k8"></div>
  <div class="up-k9"></div>
  <div class="up-k10"></div>
  <div class="up-k11"></div>
  <div class="up-k12"></div>
  <div class="up-k13"></div>
  <div class="up-bg-panel">
    <div class="up-k-user"></div>
  </div>
</nav>
<!-- Юзер понель UP конец -->
