<div class="chat" data-bind="attr: {title: title}">
        <ul data-bind="foreach: messages">
                <li data-bind="css: {you: isyou, notyou: !isyou}, text: text">
        </ul>
        <form data-bind="submit: send">
                <!-- <textarea data-bind="value: newmessage"></textarea> -->
                <input type=text data-bind="value: newmessage">
                <input type="submit" value="Отправить">
        <form>
        <!-- <button data-bind="click: send">Отправить</button> -->
</div>
