<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pax Psychosis</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="css/up.css" rel="stylesheet" type="text/css" />
<link href="css/forms.css" rel="stylesheet" type="text/css" />
</head>

<body id="bg">
	<div class="bt">
		<div id="wrapper">
            	<div class="lt">
            	<!-- info block начало -->
            	<div class="infoblock">
                	<div class="infobg">
                    	<div class="infopole"> Поле вывод инфы
                        </div>
                    	<div class="infostek">
                        </div>
                    </div>
                </div>
            	<!-- info block конец -->
            	<!-- скрытность начало -->
            	<div class="skblog">
                	<div class="fonsk">
                		<div class="skbg">
                        	<div class="stsk">
                            </div>
                    		<div class="skinf">
                        	</div>
                    		<div class="skstek">
                            	<div class="rolsk">
                                </div>
                        	</div>
                    	</div>
                	</div>
                </div>
            	<!-- скрытность конец -->
            	<!-- левый верхний угол с аватаркой начало -->
            	<div class="blockava">
                	<div class="bgava">
                    	<div class="ava"><!-- сюда подгружаем аватарку --></div>
                    	<div class="stekava">
                        </div>
                        <div class="avahp">
                        </div>
                        <div class="avamp">
                        </div>
                    </div>
                </div>
            	<!-- левый верхний угол с аватаркой конец -->
            	<!-- новигация начало -->
            		<div class="kman">
                	</div>
                		<div class="ki">
                		</div>
                	<div class="ktel">
                	</div>
            	<!-- новигация конец -->
            	</div> 
             
            <div class="novi">               
            	<div class="novibg">
                	<div class="novibgk">
                    	<div class="knopka1"></div>
                        <div class="knopka2"></div>
                        <div class="knopka3"></div>
                        <div class="knopka4"></div>
                        <div class="knopka5"></div>
                    	<div class="novistekk">
                        </div>
                    </div>
            	</div>
            </div>

        	<div class="bord">
            </div>
            
          <div class="vhod">
            	<div class="vhodbg">
                
<!-- форма входа начало -->
<form id="form-auth" name="form-auth" action="-" method="post">

<!--элементы формы-->
<div id="form-content">
	<div id="formlogin">
		<input type="text" id="login" name="login" />
	</div>
	<div id="formpass">
		<input type="password" id="pass" name="pass" />
	</div>
	
    <div id="btnsubmit">
	<input id="btn-submit" type="submit" value="" title="Войти" />
    </div>
</div>
</form>
<!-- форма входа конец -->
                </div>
			</div>
            
            <!-- Юзер понель UP -->
            	<div class="up-container">
                	<a class="up-k1" href="URL" name="11"></a>
                    <div class="up-k2"></div>
                    <div class="up-k3"></div>
                    <div class="up-k4"></div>
                    <div class="up-k5"></div>
                    <div class="up-k6"></div>
                    <div class="up-k7"></div>
                    <div class="up-k8"></div>
                    <div class="up-k9"></div>
                    <div class="up-k10"></div>
                    <div class="up-k11"></div>
                    <div class="up-k12"></div>
                    <div class="up-k13"></div>
                    <div class="up-bg-panel">
                    	<div class="up-k-user"></div>
                    </div>
                </div>
            <!-- Юзер понель UP конец -->
            
            
		</div>
	</div>
</body>
</html>
