<!DOCTYPE html>
<html lang="ru">
  <head>
    <SocketStream>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/leaflet/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/leaflet/leaflet.ie.css" />
    <![endif]-->
    <title>Pax Psychosis</title>
  </head>
  <body>
    <div id="map">
      
    </div>
    <div id="content">
      <!-- QUICK CHAT DEMO-->
      <form id="demo" onsubmit="return false">
        <h3>Quick Chat Demo</h3>
        <h5>Open this page in multiple tabs or browsers and type a message below</h5>
        <div id="chatlog"></div>
        <input id="myMessage" type="text" autocomplete="off">
      </form>
    </div>
  </body>
</html>
