<!DOCTYPE html>
<html lang="ru">
  <head>
    <script src="/leaflet/leaflet.js"></script>
    <SocketStream>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/leaflet/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/leaflet/leaflet.ie.css" />
    <![endif]-->
    <title>Pax Psychosis</title>
  </head>
  <body>
    <div id="map"></div>
    <!-- <div class="darken hidden" id="login_box"> -->
    <!--   <div id="login"> -->
    <!--     <form id="login_form"> -->
    <!--       <div><label for="login_user">Имя пользователя</label> -->
    <!--       <input name="user" type="text" id="login_user"></div> -->
    <!--       <div><label for="login_pass">Пароль</label> -->
    <!--       <input name="pass" type="password" id="login_pass"></div> -->
    <!--       <input type="submit" value="Войти"> -->
    <!--     </form> -->
    <!--   </div> -->
    <!-- </div> -->
  </body>
</html>
