<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8"/>
  <script src="/leaflet/leaflet.js"></script>
  <script src="/markercluster/leaflet.markercluster.js"></script>
  <SocketStream/>
  <link rel="stylesheet" href="/leaflet/leaflet.css" />
  <link rel="stylesheet" href="/ui-darkness/jquery-ui-1.10.3.custom.min.css" />
  <link rel="stylesheet" href="/markercluster/MarkerCluster.css" />
  <link rel="stylesheet" href="/markercluster/MarkerCluster.Default.css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="/leaflet/leaflet.ie.css" />
      <link rel="stylesheet" href="/markercluster/MarkerCluster.Default.ie.css" />
  <![endif]-->
  <title>Pax Psychosis</title>
</head>

<body>
    <div id="wrapper">
      <div id="map"></div>
      <div id="cont-left-top">
              <div class="left-top-bg">
                      <a href="#" class="tel-button"></a>
                      <a href="#" class="info-button"></a>
                      <a href="#" class="human-button"></a>
                      <div class="left-top-bg-lvl2">
                              <div class="avarat-cont">
                              </div>
                              <div class="avarat-cont-bg">
                              </div>
                              <div class="left-top-bg-lvl3">
                              </div>
                              <div class="panel-info-cont">
                                      <p class="panel-info-name">Nina Kodykova</p>
                                      <p class="panel-info-home">Дом "Реверан"</p>
                              </div>
                              <div class="mp-cont">
                              </div>
                              <div class="hp-cont">
                              </div>
                      </div>
                      <div class="panel-stealth-cont">
                      </div>
                      <div class="panel-stealth-scroll">
                      </div>
              </div>
      </div>
      <div class="novi">               
              <div class="novibg">
                      <div class="novibgk">
                              <ul class="slots">
                                      <li class="knopka1 slot"></li>
                                      <li class="knopka2 slot"></li>
                                      <li class="knopka3 slot"></li>
                                      <li class="knopka4 slot"></li>
                                      <li class="knopka5 slot"></li>
                              </ul>
                              <div class="novistekk"></div>
                      </div>
              </div>
      </div>

      <div id="border-nw" class="corner"></div> <div id="top-border" class="long"> </div> <div id="border-ne" class="corner"> </div>
      <div id="left-border" class="high"> </div> <div id="right-border" class="high"> </div>
      <div id="border-sw" class="corner"> </div> <div id="bottom-border" class="long"> </div> <div id="border-se" class="corner"> </div>
    </div>
</body>
</html>
