<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8"/>
  <script src="/leaflet/leaflet.js"></script>
  <script src="/markercluster/leaflet.markercluster.js"></script>
  <SocketStream/>
  <link rel="stylesheet" href="/leaflet/leaflet.css" />
  <link rel="stylesheet" href="/ui-darkness/jquery-ui-1.10.3.custom.min.css" />
  <link rel="stylesheet" href="/markercluster/MarkerCluster.css" />
  <link rel="stylesheet" href="/markercluster/MarkerCluster.Default.css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="/leaflet/leaflet.ie.css" />
      <link rel="stylesheet" href="/markercluster/MarkerCluster.Default.ie.css" />
  <![endif]-->
  <title>Pax Psychosis</title>
</head>

<body id="bg">
  <div class="bt">
    <div id="wrapper">
      <div id="map"></div>
      <div class="lt">
        <!-- info block начало -->
        <div class="infoblock">
          <div class="infobg">
            <div class="infopole"> Поле вывод инфы </div>
            <div class="infostek"></div>
          </div>
        </div>
        <!-- info block конец -->
        <!-- скрытность начало -->
        <div class="skblog">
          <div class="fonsk">
            <div class="skbg">
              <div class="stsk"></div>
              <div class="skinf"></div>
              <div class="skstek">
                <div class="rolsk"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- скрытность конец -->
        <!-- левый верхний угол с аватаркой начало -->
        <div class="blockava">
          <div class="bgava">
            <div class="ava"><!-- сюда подгружаем аватарку --></div>
            <div class="stekava"></div>
            <div class="avahp"></div>
            <div class="avamp"></div>
          </div>
        </div>
        <!-- левый верхний угол с аватаркой конец -->
        <!-- новигация начало -->
        <div class="kman"></div>
        <div class="ki"></div>
        <div class="ktel"></div>
        <!-- новигация конец -->
      </div> 
       
      <div class="novi">               
        <div class="novibg">
          <div class="novibgk">
            <div class="knopka1"></div>
            <div class="knopka2"></div>
            <div class="knopka3"></div>
            <div class="knopka4"></div>
            <div class="knopka5"></div>
            <div class="novistekk"></div>
          </div>
        </div>
      </div>

        <div id="border-nw" class="corner"></div> <div id="top-border" class="long"> </div> <div id="border-ne" class="corner"> </div>
        <div id="left-border" class="high"> </div> <div id="right-border" class="high"> </div>
        <div id="border-sw" class="corner"> </div> <div id="bottom-border" class="long"> </div> <div id="border-se" class="corner"> </div>
    </div>
  </div>
</body>
</html>
