<!DOCTYPE html>
<html>
<title>Select your character</title>
<SocketStream>
Hello, <span data-bind="text: userdata().name"></span>
<ul id="pcs" data-bind="foreach: pcs">
        <li> <a href="#" data-bind="click: $root.selectpc, text: name"></a>
</ul>
<form id="create" data-bind="submit: create">
        <h3>Create new character</h3>
        <div>Character name: <input type=text name="name" placeholder="Character name" data-bind="value: newname"></div>
        <div><input type=submit value="Create"></div>
</form>
<a href='/logout'>Logout</a>
<a href='/admin' data-bind="if: userdata().admin">Admin Panel</a>
</html>
